body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    ;
}

h2 {
    font-size: 35px;
}

p {
    color: dimgray;
    padding-bottom: 20px;
}

.orange_highlight {
    color: orange;
}

.half_width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half_width img {
    width: 100%;
    ;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream_area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

section {
    height: 500px;
    padding-bottom: 180px;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.single_experience {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}

.experience_area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full_stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby_web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

.foot {
    text-align: center;
}